{% extends "base.html" %}

{% block title%}Äriregister - Lisa Uus{% endblock %}

{% block content %}
<form method="POST">
    <div class="page-top-container">
        <h1>Lisa uus ettevõte</h1>
    </div>
    
    <div class="form-group">
        <label for="company-name">Ettevõtte nimi (3-100 tähemärki)</label>
        <input type="text" class="form-control" id="company-name" name="company-name" placehodler="Sisesta ettevõtte nimi" />
    </div>

    <div class="form-group">
        <label for="registration-code">Registrikood (7 numbrit)</label>
        <input type="text" class="form-control" id="registration-code" name="registration-code" placehodler="Sisesta registrikood" />
    </div>

    <div class="form-group">
        <label for="registration-date">Asutamise Kuupäev</label>
        <input type="date" class="form-control" id="registration-date" name="registration-date" placehodler="Registreerimis kuupäev" max="2023-01-01" />
    </div>

    <div class="form-group">
        <label for="total-capital">Kogukapitali suurus (min 2500€)</label>
        <input type="number" class="form-control" id="total-capital" name="total-capital" placehodler="Sisesta kogukapitali summa" value="0" />
    </div>

     <div class="form-group row">
        <label for="search-person-company" class="col-9">Otsi füüsilist või juriidilist isikut:</label>
        <label for="shareholder-search-by" class="col-3">Mille järgi:</label>
    </div>
    <div class="form-group row">
        <div class="col-9">
            <input type="text" class="form-control" id="search-person-company" name="search-person-company" onkeyup="searchPersonCompany()"/>
            <div class="search-result-dropdown">
            </div>
        </div>
        <div class="col-3">
            <select name="shareholder-search-by" id="shareholder-search-by" class="form-control" onchange="searchPersonCompany()">
                <option value="company_name" default>Juriidilise isiku nime</option>
                <option value="registration_code">Registrikoodi</option>
                <option value="person_name">Füüsilise isiku nime</option>
                <option value="identification_number">Isikukoodi</option>
            </select>
        </div>
    </div>
    <div id="added-shareholders" class="form-group">
        <div class="form-group row added-shareholders-header">
            <label for="shareholder-code" class="col-3">Isiku-/Registrikood</label>
            <label for="shareholder-name" class="col-4">Nimi</label>
            <label for="share-size" class="col-3">Osa suurus</label>
            <label for="is-company" class="col-1">Jur.isik</label>
            <label for="remove" class="col-1">Kustuta</label>
        </div>
    </div>

    <br />
    <a type="submit" class="btn btn-primary" onclick="saveCompany()">Salvesta</a>
</form>
{% endblock %}