{% extends "base.html" %}

{% block title%}Äriregister - Lisa Uus{% endblock %}

{% block content %}
<form method="POST">
    <div class="page-top-container">
        <h1>Lisa uus ettevõte</h1>
    </div>
    
    <div class="form-group">
        <label for="company-name">Ettevõtte nimi (3-100 tähemärki)</label>
        <input type="text" class="form-control" id="company-name" name="company-name" placehodler="Sisesta ettevõtte nimi" />
    </div>

    <div class="form-group">
        <label for="registration-code">Registrikood (7 numbrit)</label>
        <input type="text" class="form-control" id="registration-code" name="registration-code" placehodler="Sisesta registrikood" />
    </div>

    <div class="form-group">
        <label for="registration-date">Asutamise Kuupäev</label>
        <input type="date" class="form-control" id="registration-date" name="registration-date" placehodler="Registreerimis kuupäev" max="2023-01-01" />
    </div>

    <div class="form-group">
        <label for="total-capital">Kogukapitali suurus (min 2500€)</label>
        <input type="number" class="form-control" id="total-capital" name="total-capital" placehodler="Sisesta kogukapitali summa" value="0" />
    </div>

    <div class="form-group row">
        <label for="add-partner-name" class="col-4">Osaniku nimi (3-100 tähemärki)</label>
        <label for="add-partner-code" class="col-4">Isiku-/Registreerimiskood</label>
        <label for="add-partner-share" class="col-2">Osaniku osa suurus (min 1€)</label>
        <label for="is-company" class="col-1">Juuriidilineisik</label>
    </div>
    <div class="form-group row">
        <div class="col-4">
            <input type="text" class="form-control" id="add-partner-name" name="add-partner-name" placehodler="Lisa osanik" />
        </div>
        <div class="col-4">
            <input type="text" class="form-control" id="add-partner-code" name="add-partner-code" placehodler="Lisa osanik" />
        </div>
        <div class="col-2">
            <input type="number" class="form-control" id="add-partner-share" name="add-partner-share" placehodler="Osaniku osa suurus" value="0" />
        </div>
        <div class="col-1">
            <input type="checkbox" class="form-control" id="is-company" name="is-company" placeholder="Juuriidilineisik" />
        </div>
        <div class="col-1">
            <a id="btn-add-partner" class="btn btn-primary" onclick="addPartner()"><i class="fa-solid fa-plus"></i></a>
        </div>
    </div>
    <div id="added-partners" class="form-group"></div>

    <br />
    <a type="submit" class="btn btn-primary" onclick="saveCompany()">Salvesta</a>
</form>
{% endblock %}