{% extends "base.html" %}

{% block title%}Äriregister - Lisa Uus{% endblock %}

{% block content %}
<form method="POST">
    <div class="page-top-container">
        <h1>Lisa uus ettevõte</h1>
    </div>
    
    <div class="form-group">
        <label for="company-name">Ettevõtte nimi (3-100 tähemärki)</label>
        <input type="text" class="form-control" id="company-name" name="company-name" placehodler="Sisesta ettevõtte nimi" />
    </div>

    <div class="form-group">
        <label for="registration-code">Registrikood (7 numbrit)</label>
        <input type="text" class="form-control" id="registration-code" name="registration-code" placehodler="Sisesta registrikood" />
    </div>

    <div class="form-group">
        <label for="registration-date">Asutamise Kuupäev</label>
        <input type="date" class="form-control" id="registration-date" name="registration-date" placehodler="Registreerimis kuupäev" max="2023-01-01" />
    </div>

    <div class="form-group">
        <label for="total-capital">Kogukapitali suurus (min 2500€)</label>
        <input type="number" class="form-control" id="total-capital" name="total-capital" placehodler="Sisesta kogukapitali summa" value="0" />
    </div>
    <div class="add-shareholder-content">
        <div class="form-group row">
            <label for="add-shareholder-name" class="col-2">Eesnimi</label>
            <label for="add-shareholder-name" class="col-3">Perekonnanimi</label>
            <label for="add-shareholder-code" class="col-3">Isikukood</label>
            <label for="add-share-size" class="col-2">Osa suurus</label>
            <label for="is-company" class="col-1">Juuriidiline- isik</label>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <input type="text" class="form-control" id="add-shareholder-name" name="add-shareholder-name" placehodler="Lisa osaniku nimi" />
            </div>
            <div class="col-3">
                <input type="text" class="form-control" id="add-shareholder-lastname" name="add-shareholder-lastname" placehodler="Lisa osaniku perekonnanimi" />
            </div>
            <div class="col-3">
                <input type="text" class="form-control" id="add-shareholder-code" name="add-shareholder-code" placehodler="Lisa osaniku isikukood" />
            </div>
            <div class="col-2">
                <input type="number" class="form-control" id="add-share-size" name="add-share-size" placehodler="Osaniku osa suurus" value="0" />
            </div>
            <div class="col-1 btn-add-company">
                <input type="checkbox" class="form-control" id="is-company" name="is-company" placeholder="Juuriidilineisik" onchange="changeShareholderCompany()"/>
            </div>
            <div class="col-1 btn-add-company">
                <a id="btn-add-shareholder" class="btn btn-primary" onclick="addShareholder()"><i class="fa-solid fa-plus"></i></a>
            </div>
        </div>
    </div>
    <div id="added-shareholders" class="form-group"></div>

    <br />
    <a type="submit" class="btn btn-primary" onclick="saveCompany()">Salvesta</a>
</form>
{% endblock %}