.added-shareholder {
    margin-top: 5px;
}

.companies {
    width: 97%;
    margin: auto;
}

.company {
    cursor: pointer;
    margin-top: 8px;
    padding: 2px;
    border-top: 1px solid gray;
}

.company-registration-code {
    text-align: left;
}

.company-name {
    text-align: right;
}

.btn-add-company {
    text-align: center;
}

.search-result-dropdown {
    display: none;
    overflow-y: auto;
    height: 200px;
}

.list-item {
    width: 100%;
    margin-top: 5px;
}




/* Search person/compamy > add_company */
#searchResultDropdown {
    border: 1px dotted #ccc;
    padding: 3px;
    overflow-y: scroll;
    height:400px;
}
#searchResultDropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#searchResultDropdown ul li {
    padding: 5px 0;
}
#sear ul li:hover {
    background: #eee;
}