.added-shareholder {
    margin-top: 5px;
}

.companies {
    width: 97%;
    margin: auto;
}

.company {
    cursor: pointer;
    margin-top: 8px;
    padding: 2px;
    border-top: 1px solid gray;
}

.company-registration-code {
    text-align: left;
}

.company-name {
    text-align: right;
}

.btn-add-company {
    text-align: center;
}

.search-result-dropdown {
    display: none;
    overflow-y: auto;
    max-height: 200px;
}

.list-item {
    width: 100%;
    margin-top: 5px;
}

#added-shareholders {
    display: none;
}