.added-partner {
    margin-top: 5px;
}

.companies {
    width: 97%;
    margin: auto;
}

.company {
    cursor: pointer;
    margin-top: 8px;
    padding: 2px;
    border-top: 1px solid gray;
}

.company-registration-code {
    text-align: left;
}

.company-name {
    text-align: right;
}