{% extends "base.html" %}

{% block title %}Äriregister - Avaleht{% endblock %}

{% block content %}
<div class="page-top-container">
    <h1>Äriregister Webapp</h1>
</div>
<div class="form-group row">
    <label for="search-company" class="col-9">Otsi ettevõtet</label>
    <label for="search-by" class="col-3">Mille järgi</label>
</div>
<div class="form-group row">
    <div class="col-9">
        <input type="text" class="form-control" id="search-company" name="search-company" placehodler="Sisesta ettevõtte nimi" onkeyup="searchAvaleht()"/>
    </div>
    <div class="col-3">
        <select name="search-by" id="search-by" class="form-control" onchange="searchAvaleht()">
            <option value="company_name" default>Ettevõtte nime</option>
            <option value="registration_code">Registrikoodi</option>
            <option value="shareholder_name">Osaniku nime</option>
            <option value="presonal_code">Isikukoodi</option>
        </select>
    </div>
</div>

{% block companies_table %}
{%  endblock %}

{% endblock %}